<exercise-header chapterName="Formulaire" />
<section class="card-body">
	<article class="card">
		<div class="card-header">
			<h2>Formulaire de login</h2>
		</div>
		<div class="card-body">
			<p>Créer un formulaire en utlisant <strong>Reactive Forms</strong>!</p>
			<p>L'envoie du formulaire affichera les valeurs du formulaire de la console et devra disposé des champs suivants:</p>
			<ul>
				<li>Un champ email</li>
				<li>
					Un champ mot de passe avec un validator pour vérifier que le mot de passe fait au moins 8 caractères, ait une majuscule,
					une minuscule et un chiffre (Bonus: le faire en regex ET en validator custom)
				</li>
				<li>Un champ date de naissance (Bonus: on ne peut pas avoir plus de 115ans)</li>
				<li>(Bonus) La possibilité de remplir plusieurs adresses</li>
			</ul>
			<p>Contraintes:</p>
			<ul>
				<li>Le formulaire doit être en <strong>Reactive Forms</strong> (pas de template driven forms)</li>
				<li>Le bouton d'envoi doit être désactivé tant que le formulaire n'est pas valide</li>
			</ul>
		</div>
	</article>
	<article class="card">
		<div class="card-header">
			<h2>Résultat</h2>
		</div>
		<div class="card-body">
			<register-form></register-form>
		</div>
	</article>
</section>
