<exercise-header chapterName="Service et Injection de dépendance" />
<section class="card-body">
	<div class="card-header">
		<h2>Liste de course</h2>
		<i>Dossier de travail: <code>src/app/features/exercise/pages/exercise-service-injection/</code></i>
	</div>
	<div class="card-body">
		<p>Créer une petite application de gestion de liste de course!</p>
		<p>Utilisez un service pour gérer les produits et leurs quantités!</p>
		<p>Contraites:</p>
		<ul>
			<li>Vous devrez avoir 2 composants: <code>ajouter</code> et <code>lister</code></li>
			<li>Les composants ne doivent pas communiquer entre eux (il faut passer par le service)</li>
		</ul>
		<p>Bonus:</p>
		<ul>
			<li>Si il y a plus de 5 produits à acheter, mettez le nom du produit en rouge</li>
			<li>Avoir la possiblité de modifier le nombre d'article depuis la liste</li>
		</ul>
		<p>
			Résultat:
			<spoil>
				<img [src]="imgUrlResultat" alt="Resultat" />
			</spoil>
		</p>
	</div>
	<div class="card-header">
		<h2>Résultat</h2>
	</div>
	<div class="card-body">
		<!-- Appel tes composants ici! -->
		<!-- <add></add> -->
		<form-product></form-product>
		<list [elements]="products()" (removeItemEvent)="removeItem($event)" (addItemEvent)="addItem($event)"></list>
	</div>
</section>
